<div class="summary-block game-buy grid-container full {{ $.class }} col-{{$.col}}" style="background: url('{{$.bgImage | safeHTML}}')" >
    {{with .content }}
    <div class="grid-container">
        <div class="grid-x align-center-middle text-center">
            {{if eq $.col "1" }}
            <div class="cell small-12 medium-8">
                <header>
                    <h2 class="f-c-black">{{.title | markdownify}}</h2>
                </header>

                <div class="grid-container m-t-60">
                    <div class="grid-x grid-padding-x grid-margin-y align-center text-center">
                        {{ range .links}}
                        <div class="cell shrink">
                            <a href="{{.url}}"><img src="/images/img-{{.type}}.png" alt="{{.type}}"></a>
                        </div>
                        {{end}}
                    </div>
                </div>

            </div>
            {{else}}
            <div class="cell small-12 medium-6">
                <div class="buy-img">
                    <img src="{{.image}}" alt="">
                </div>
            </div>
            <div class="cell small-12 medium-6">
                <header>
                    <h2 class="f-c-black">{{.alt_title | markdownify}}</h2>
                </header>

                <div class="grid-container m-t-60">
                    <div class="grid-x grid-padding-x grid-margin-y align-center text-center">
                        {{ range .links}}
                        <div class="cell shrink">
                            <a href="{{.url}}"><img src="/images/img-{{.type}}.png" alt="{{.type}}"></a>
                        </div>
                        {{end}}
                    </div>
                </div>
            </div>
            {{end}}
        </div>
    </div>
    {{end}}
</div>

