<!-- Newsletter -->
<div id="form">
    <header>
    <h2 class="f-c-black">Sign up to our <strong>Newsletter</strong></h2>
    </header>

    <form  id="newsletter" name="newsletter" method="POST" data-netlify="true" netlify-honeypot="bot-field" >
        <div class="">
            <!-- Email -->
            <fieldset>
                <input type="email" id="email" name="email" placeholder="Enter your email">
            </fieldset>
        </div>
        <p class="hide">
            <label>Don’t fill this out if you're human: <input name="bot-field" /></label>
        </p>
        <p>
            The personal data provided by you will be managed according to the information included in
            <a href="/privacy">Privacy Policy</a>.
        </p>
        <!-- Button -->
        <div class="tc">
            <button type="submit" class="button large">Submit</button>
        </div>
    </form>

</div>

<div id="thanks" class="grid-container full">
    <div class="grid-x">
        <div class="cell">
            <h2>Thank you!!</h2>
            <button class="button continue">Continue</button>
        </div>
    </div>
</div>
