
<div class="{{.Params.class}} card game">
        {{ with .Params.overlay_image }}
        <div class="card-image-overlay">
            <img src="{{ . }}" alt="{{.}}">
        </div>
        {{end}}
        <div class="card-section">
            <div class="card-header">
                    <header>
                        {{if .Params.header.logo}}
                        <div class="logo">
                            <img src="{{.Params.header.logo}}" alt="{{ .Title }}">
                        </div>
                        {{else}}
                        <h3>{{ .Title }}</h3>
                        {{end}}
                    </header>
            </div>
            <div class="card-video">
              {{partial "youtube" (dict "media" .Params)}}
            </div>
        </div>
</div>


