.accordion {
  .accordion-title{
    overflow: hidden;
    border-radius: 5px 5px 0 0;
  }
  .accordion-item{

    a{
      display: flex;
      align-items: center;
      font-family: $header-font-family;
      font-weight: 700;
      vertical-align: middle;
    }
  }
}
