.accordion {
  border-radius: 5px;
  .accordion-title{
    overflow: hidden;

  }
  .accordion-item{

    a{
      display: flex;
      align-items: center;
      font-family: $header-font-family;
      font-weight: 700;
      vertical-align: middle;
    }
  }
}
