.card {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: 100%;
  overflow: visible;

  .card-image-overlay {
    position:absolute;
  }

  .card-section {
    display: block;
    text-align: center;

    .card-header{
      position: relative;
      height: rem-calc(200);
      .logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
      }
    }

    .card-video {
      background: #28abdd;
      padding: rem-calc(10) rem-calc(10) rem-calc(10) rem-calc(10);

      .responsive-embed{
        margin-bottom: 0;
      }
    }
  }

  header {

  }
}



.card-cell {
  display: flex;
  height: 100% !important;
}
