{{define "header"}}

    {{ range $index, $content := first 1 ( sort (where (where .Pages.ByDate.Reverse  "Type" "games") ".Params.other" "!=" true) ".Params.weight" "value" "desc")  }}
        {{with $content}}
            {{ partial "header-hero"  (dict "media" .Params.header "title" .Title "body" .Content)}}
        {{end}}
    {{end}}
{{end}}
{{ define "main" }}
<section>
            {{ $paginator := .Paginate (where (where .Pages.ByDate.Reverse "Type" "games") ".Params.other" "!=" true)}}
            {{ range $index, $content := $paginator.Pages }}

                {{with $content}}
                {{ .Render "summary" }}
                {{end}}

            {{ end }}

</section>
<section>
    <div class="grid-container">
    <header>
        <h2 class="primary">Other Titles</h2>
    </header>
    </div>
    {{partial "block-games" .Parent}}
    {{partial "block-presskit" .}}
</section>
{{ end }}

