{{ define "header" }}
    {{ partial "header-hero"  (dict "media" .Params.header "title" .Title )}}
{{end}}
{{ define "main" }}
    {{ partial "block-image"  (dict "Id" "about" "Content" .Params.About "Class" "b-c-white"  "first" "1" "second" "2" ) . }}


    {{ "<!-- Block Video -->" | safeHTML }}
    <section>
        <div id="video" class="grid-container full block b-c-secondary">
            <div class="grid-container">
                <div class="crab-wrapper">
                    <div class="crab-image">
                        <img src="/images/crab-ring.png" alt="crap-ring">
                    </div>
                </div>
                <div class="grid-x">
                    <div class="cell small-12 medium-10 medium-offset-1 ">
                        {{partial "youtube" (dict "media" .Params)}}
                    </div>
                </div>
            </div>
        </div>
    </section>
    {{ "<!-- Block Video -->" | safeHTML }}

    {{ partial "block-image"  (dict "Id" "values" "Content" .Params.Values "Class" "b-c-white" "first" "2" "second" "1") . }}

    {{ "<!-- Block Stats -->" | safeHTML }}
    <section>
        {{with .Params.stats }}
        <div id="stats" class="grid-container full block b-c-primary f-c-white">
            <div class="grid-container">
                <div class="grid-x small-up-2 medium-up-4 align-center-middle text-center">
                    {{range . }}
                    <div class="cell">
                        <h2>{{.heading}}</h2>
                        <p>{{.text | markdownify }}</p>
                    </div>
                    {{end}}
                </div>
            </div>
        </div>
        {{end}}
    </section>
    {{ "<!-- Block Stats -->" | safeHTML }}

{{ partial "block-image"  (dict "Id" "others" "Content" .Params.Others "Class" "b-c-white"  "first" "2" "second" "1") . }}
<section>
    <div class="feature-game">
    {{ range $index, $content := first 1 ( sort (where (where .Parent.Pages "Type" "games") ".Params.other" "!=" true) ".Params.weight" "value" "desc")  }}
    {{with $content}}
        {{ partial "header-hero"  (dict "media" .Params.header "title" .Title  "buy" .Params.buy "parallax"  false )  }}
    {{end}}
    {{end}}
    {{ range $index, $content := first 1 ( sort (where (where .Parent.Pages.ByDate.Reverse  "Type" "games") ".Params.other" "!=" true) ".Params.weight" "value" "desc")  }}
        {{with $content}}
            {{partial "block-game-link" .}}
        {{end}}
    {{end}}
    </div>
</section>
{{ partial "block-games" .Parent}}
{{ end }}
