{{ define "header" }}
    {{ partial "header-hero"  (dict "media" .Params.header "title" .Title "body" .Content)}}
{{end}}
{{ define "main" }}
    {{ partial "block-image"  (dict "Id" "about" "Content" .Params.About "Class" "b-c-white"  "first" "1" "second" "2" ) . }}
    {{ partial "block-image"  (dict "Id" "values" "Content" .Params.Values "Class" "b-c-blue" "first" "2" "second" "1") . }}

    {{ "<!-- Block Video -->" | safeHTML }}
    <section>
        <div id="video" class="grid-container full block b-c-secondary">
            <div class="grid-container">
                <div class="grid-x">
                    <div class="cell">
                        {{partial "youtube" (dict "media" .Params)}}
                    </div>
                </div>
            </div>
        </div>
    </section>
    {{ "<!-- Block Video -->" | safeHTML }}

    {{ "<!-- Block Stats -->" | safeHTML }}
    <section>
        {{with .Params.stats }}
        <div id="stats" class="grid-container full block b-c-dark-gray">
            <div class="grid-container">
                <div class="grid-x">
                    <div class="cell small-12 medium-6 section-heading">
                        <h2>{{.heading}}</h2>
                        <p>{{.text | markdownify }}</p>
                    </div>
                </div>
            </div>
        </div>
        {{end}}
    </section>
    {{ "<!-- Block Stats -->" | safeHTML }}

{{ partial "block-image"  (dict "Id" "others" "Content" .Params.Others "Class" "b-c-white"  "first" "1" "second" "2") . }}
{{ partial "block-games" .}}
{{ end }}
