#values {

  position: relative;
  z-index: 2;
  .grid-x{
    @include breakpoint(large){
      @include flex-align(left, middle);
    }
  }

  .cell {
    @include breakpoint(medium only){
      width: 100%;
      margin-left: 0;
    }
  }

  .image-wrapper {
      position: absolute;
      bottom: -30px;
  }

  @include breakpoint(small only) {
    margin-bottom:70px;
  }

  @include breakpoint(medium only) {
    margin-bottom:70px;
  }
}

#about{
  .image-wrapper{
    @include breakpoint(small only) {
      display:none;
    }
  }
}

#stats {
  position: relative;
  z-index: 10;
  h2{
    color: $white;
  }
}

#video{
    .video{
      padding: rem-calc(10);
      background: $primary-color;
      .responsive-embed.widescreen{
        margin-bottom: 0;
      }
    }
}

.hero-header-logo{
  @include breakpoint(medium) {
    display:none;
  }
}
