#values {

  position: relative;
  z-index: 2;
  .grid-x{
    @include breakpoint(large){
      @include flex-align(left, middle);
    }
  }

  .cell {
    @include breakpoint(medium only){
      width: 100%;
      margin-left: 0;
    }
  }

  .image-wrapper {
      position: absolute;
      bottom: -74px;
  }

  @include breakpoint(small) {
    .image-area{
      display: none;
    }
    margin-bottom:0px;
  }

  @include breakpoint(large) {
    .image-area{
      display: block;
    }
    margin-bottom:70px;
  }
}

#about{
  .image-wrapper{
    @include breakpoint(small only) {
      display:none;
    }
  }
}

#stats {
  position: relative;
  z-index: 10;
  h2{
    color: $white;
  }
  p{
    text-align: center;
  }
}

.about {
  #video {
    position: relative;
    .crab-wrapper{
      position: absolute;
      width: 60%;
      top: 0;
      .crab-image{
        transform: translateX(-15%) translateY(-40%);
      }
    }

    .video {
      padding: rem-calc(10);
      background: $primary-color;
      position: relative;
      z-index: 10;

      .responsive-embed.widescreen {
        margin-bottom: 0;
      }
    }
  }
  .hero-header-logo{
    @include breakpoint(medium) {
      display:none;
    }
  }

  .feature-game {
    .hero-header-logo{
      @include breakpoint(medium) {
        display:block;
      }
    }
  }
}

#home-about{
  p{
    text-align: center;
  }
}
