.home {
  .summary-block {
    margin-bottom: 0;
  }

  .about-image{
    padding: rem-calc(50) rem-calc(0);
    img{
      max-width: 350px;
    }
  }

  #home-about{
    p{
      font-size: rem-calc(30);
      padding: rem-calc(30) 0;
    }
  }
}


