
{{ define "main" }}
<section>
    {{ $paginator := .Paginate (where .Pages.ByDate.Reverse "Type" "careers")}}

    <div id="careers" class="grid-container list m-t-b-30">

        <div class="grid-container text-center m-b-100">
            <h2>Current open roles</h2>
        </div>

        <div class="grid-x grid-padding-x grid-margin-y small-up-1 medium-up-2 large-up-4 align-center text-center">
            {{ range $index, $content := $paginator.Pages }}
                {{with $content}}
                    <div class="cell">
                        {{ .Render "summary" }}
                    </div>
                {{end}}
            {{ end }}
        </div>
    </div>
</section>
{{ end }}

