{{define "header"}}

    {{ range $index, $content := first 1 ( sort (where (where .Pages.ByDate.Reverse  "Type" "games") ".Params.other" "!=" true) ".Params.weight" "value" "desc")  }}
        {{with $content}}
            {{ partial "header-hero"  (dict "media" .Params.header "title" .Title "body" .Content)}}
        {{end}}
    {{end}}
{{end}}
{{ define "main" }}
<section>
    {{ $paginator := .Paginate (where .Pages.ByDate.Reverse "Type" "careers")}}
    {{ range $index, $content := $paginator.Pages }}
    <div class="grid-container">
        {{with $content}}
        {{ .Render "summary" }}
        {{end}}

    {{ end }}
    </div>
</section>
{{ end }}

