{{ define "header" }}
    {{ range $index, $content := first 1 ( sort (where (where .Pages "Type" "games") ".Params.other" "!=" true) ".Params.weight" "value" "desc")  }}
        {{with $content}}
            {{ partial "header-hero"  (dict "media" .Params.header "title" .Title  "buy" .Params.buy  )  }}
        {{end}}
    {{end}}
{{end}}
{{ define "main" }}
{{ range $index, $content := first 1 ( sort (where (where .Pages.ByDate.Reverse  "Type" "games") ".Params.other" "!=" true) ".Params.weight" "value" "desc")  }}
    {{with $content}}
        {{partial "block-game-link" .}}
    {{end}}
{{end}}
{{ with .Site.GetPage "/about"}}
<div id="home-about" >
    <div class="grid-container full about-image " style="background: url('{{.Params.header.image}}')">
        <div class="grid-x align-center-middle text-center">
            <div class="cell">
                <img src="{{.Params.header.logo}}" alt="">
            </div>
        </div>
    </div>
    <div class="grid-container block">
        <div class="grid-x grid-padding-x grid-margin-y align-center-middle text-center">
            <div class="cell small-12 medium-9 large-6">
                <h2 class="primary">{{.Params.about.heading}}</h2>
                <p>{{.Params.short}}</p>
                <a href="{{.Permalink }}" class="button">Get to know us</a>
            </div>
        </div>
    </div>
</div>
{{end}}
{{ end }}
